@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #FFEEAD;
  --secondary-color: #588C7E;

  --header-height: 80px;
  --transition-speed: 0.3s;

  --animation-duration: 0.3s;

  --font-family-hebrew: 'Heebo', 'Assistant', sans-serif;

  --primary-light: #FFF5D6;
  --secondary-light: #7AB3A4;

  --form-transition: 0.3s;

  --font-cafe: 'Heebo', 'Assistant', sans-serif;

  --scroll-btn-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --scroll-transition-duration: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}